@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500,600');

/* 
-------------------------
G E N E R A L   S T Y L E
-------------------------
*/

:root {
  --main-bg-color: #282828;
  --main-text-color: #fff;
  --default-color: gray;
  --primary-color: blue;
  --primary-hover-color: ;
  --secondary-color: #19bc8b;
  --secondary-hover-color: #00ad9e;

}


html {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
  color: var(--main-text-color);
  background: var(--main-bg-color);
}

#portfolio {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  /* background: pink; */
}

/* 
------------------------------
P R O J E C T S   N A V B A R
-----------------------------
*/

#nav-bar {
  margin: 0 2em 0 1em;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

#nav-bar button {
  background: none;
  border: none;
  width: 8em;
  padding: 1em 0;
  margin-bottom: 1em;
  font: inherit;
  text-transform: uppercase;
  color: var(--secondary-color);
  cursor: pointer;
  outline: none;
  position: relative;
  
  /* lock text selection */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable blue hihglight on mobile chrome */
  -webkit-tap-highlight-color: transparent;
}

#nav-bar button::-moz-focus-inner { 
  /* no dotted line on firefox when clicked */
  border: 0;
}

#nav-bar button:before {
  position: absolute;
  content: '';
  top: 0; right: 0; bottom: 0; left: 0;
  border: 2px solid;
  border-radius: 4px;
  transform: skewX(-34deg);
  z-index: -1;
  transition: box-shadow 400ms;
}

/* HOVER/FOCUS STYLE */

#nav-bar button:hover,
#nav-bar button:focus {
  color: var(--main-bg-color);
  transition: color 400ms;
}

#nav-bar button:hover:before,
#nav-bar button:focus:before {
  border-color: var(--secondary-hover-color);
  box-shadow: 
    inset 4em 0 2px var(--secondary-hover-color),
    inset -4em 0 2px var(--secondary-hover-color);
}

/* ACTIVE STYLE */

#nav-bar button.active {
  color: var(--main-bg-color);
}

#nav-bar button.active:before {
  border-color: var(--secondary-hover-color);
  box-shadow: 
    inset 4em 0 2px var(--secondary-hover-color),
    inset -4em 0 2px var(--secondary-hover-color);
}

#nav-bar button:after {
  position: absolute;
  content: '';
  top:0; left: 100%;
  width: 0;
  color: var(--secondary-color);
  border: 1px solid;
  box-sizing: border-box;
  transition: 400ms;
}
/* #nav-bar button.active:after {
  width: calc(28vw - 2rem - 9em);
  color: var(--secondary-hover-color);
} */


/* 
------------------------------------
D I S P L A Y   C O N T A I N E R
------------------------------------
*/

#display-container {
  flex: 1;
  padding: 1rem;
  border-left: 1px solid var(--secondary-color);
  position: relative;
}

#display-container:after {
  position: absolute;
  content: '';
  top: 0; right: 0; bottom: 0; left: 0;
  background: var(--main-bg-color);
  border-left: 1px solid var(--secondary-color);
  transition: 400ms;
}

#display-container.opened:after {
  left: 100%;
}

/* DISPLAY SECTIONS */
.display-section.active {
  display: block;
}

.display-section {
  display: none;
}


/* 
--------------------------------
D I S P L A Y   S E C T I O N S 
--------------------------------
*/
.project.active {
  display: block;
}

.project {
  display: none;
}



/* Temporal Footer */

footer {
  max-width: 400px;
  margin-top: 4rem;
  font-size: .7rem;
}

footer a,
footer a:visited {
  color: inherit;
  text-decoration: underline dotted;
}
