/*
  Typewriter effect, credits to
  https://codepen.io/hi-im-si/pen/DHoup
*/

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  background-color: rgb(25,25,25);
  text-align: center;
  color: rgba(255,255,255,.75);
  padding-top:10em;
  font-family: 'Anonymous Pro', monospace;  
}

* { color:#fff; text-decoration: none;}